.location-cards-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-area: location;
  user-select: none;
  height: 100%;
}

.location-card {
  padding: 25px 40px;
  background-color: var(--clr-card-background);
  border-radius: 1.25rem;
  box-shadow: var(--card-shadow);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.location-card .icons {
  display: flex;
  position: absolute;
  bottom: 24px;
  right: 24px;
  gap: 10px;
}

.location-card .icons > * {
  width: 24px;
  height: 24px;
  color: var(--clr-icons);
  cursor: pointer;
}
.location-card .icons > *:hover {
  color: var(--clr-text-primary);
}

.location-card > * {
  margin: 0;
}
