.location-title {
  grid-area: loc-title;
  display: flex;
  align-items: flex-start;
  user-select: none;
}
.map-title {
  display: flex;
  grid-area: map-title;
  justify-content: space-between;
  align-items: flex-start;
  user-select: none;
}

.map-title svg,
.location-title svg {
  width: 1em;
  height: 1em;
  margin-inline-end: 5px;
}
.map-title h2,
.location-title h2 {
  display: flex;
  align-items: center;
  margin: 0;
}

.location-url-btn {
  cursor: pointer;
}
.location-url-btn:hover {
  color: var(--clr-text-primary);
}
